#ccg_log_content table {
	border-collapse: collapse;
}

#ccg_log_content th {
	background: #2271b1;
	color: #fff;
}

#ccg_log_content th,
#ccg_log_content td {
	border: 1px solid #2271b1;
	padding: 8px;
	min-width: 150px;
	text-align: left;
}

#ccg_log_content tr:nth-child(even) {
	background: #efefef;
}

#ccg_log_content tr:hover {
	background: #d1d1d1;
}